footer {
    color: white;
    background-color: black;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    left: 0;
}

div.formlogin {
    padding: 50px;
    margin-top: 50px;
    margin-left: 40%;
    width: 300px;
    height: 300px;
    display: block;
    background-color: rgba(52, 113, 142, 0.6);
    border-radius: 4px;
}

div.formlogin>form>label {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

input.registro {
    border-radius: 4px;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
}

button.registro {
    margin-left: 20%;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    background-color: #33bdfde3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: 200px;
    -webkit-transition: padding 1s;
    transition: padding 1s;
}

input:hover {
    border-color: rgba(20, 97, 241, 0.76);
}

button.registro:hover {
    padding: 15px;
}

#video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;
}

h1.registro {
    color: white;
}

input.lada {
    width: 50px;
    border-radius: 4px;
    padding: 10px;
    float: left;
}

input.telefono {
    width: 200px;
    border-radius: 4px;
    padding: 10px;
}

footer>h1 {
    font-size: 20px;
}

div.titulos {
    width: 110px;
    height: 300px;
    float: left;
}

div>p {
    color: white;
    margin-bottom: 28px;
}

div.inputs {
    width: 300px;
    height: 200px;
    float: left;
}

div.formlogin>form>button {
    margin-left: 20%;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    background-color: #33bdfde3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: 200px;
}

div.formregistro>img.registro {
    margin-left: 220px;
}

img.login {
    margin-left: 120px;
}

div.formregistro>h1 {
    text-align: center;
}

div>form>input.login {
    border-radius: 4px;
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;
}

div.formregistro {
    padding: 10px;
    margin-top: 50px;
    margin-left: 40%;
    width: 500px;
    height: 600px;
    display: block;
    background-color: rgba(52, 113, 142, 0.6);
    border-radius: 4px;
}

div.formlogin>form>button:hover {
    margin-left: 20%;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    background-color: #33ca0dc9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: 200px;
}

body {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
}

header {
    display: block;
    background-color: rgba(52, 113, 142, 0.6);
}

h1.title {
    text-align: center;
    margin: 0%;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(52, 113, 142, 0.6);
}

ul>li {
    display: inline;
}

a.menu {
    float: left;
    padding: 20px;
    display: block;
    width: 70px;
    text-decoration-line: none;
    color: white;
    -webkit-transition: width 1s;
    transition: width 1s;
    text-align: center;
}

a.menu:hover {
    float: left;
    padding: 20px;
    display: block;
    text-decoration-line: none;
    width: 100px;
    color: black;
    text-align: center;
    background-color: orange;
}

a.logout {
    float: right;
    padding: 20px;
    display: block;
    width: 70px;
    text-decoration-line: none;
    color: white;
    -webkit-transition: width 1s;
    transition: width 1s;
    text-align: center;
}

a.logout:hover {
    float: right;
    padding: 20px;
    display: block;
    text-decoration-line: none;
    width: 100px;
    color: black;
    text-align: center;
    background-color: orange;
}

div.autoscontainer {
    width: 100%;
    margin-top: 30px;
    height: 600px;
    background-color: rgba(52, 113, 142, 0.6);
}

div.containerabout {
    width: 100%;
    margin-top: 30px;
    height: 600px;
    background-color: rgba(52, 113, 142, 0.6);
}

div.containerabout>h1 {
    text-align: center;
    color: white;
}

div.containerabout {
    font-family: Arial;
    font-size: 20px;
    color: antiquewhite;
    text-align: justify;
}

table.autostable {
    width: 100%;
}

th,
tr {
    color: white;
    font-size: 20px;
    -webkit-transition: font-size .5s;
    transition: font-size .5s;
}

td {
    text-align: center;
}

th:hover {
    color: white;
    font-size: 30px;
    background-color: orange;
}

@media only screen and (max-width:800px) {
    a.menu {
        float: none;
    }
    #video {
        visibility: hidden;
    }
    div.formlogin {
        margin-left: 0%;
    }
    div.containerabout {
        height: 90%;
        font-size: 15px;
    }
    footer>h1 {
        font-size: 15px;
    }
    div.formregistro {
        margin-left: 0;
        width: 410px;
    }
    input.registro {
        border-radius: 4px;
        padding: 10px;
        width: 240px;
        margin-bottom: 10px;
    }
    input.telefono {
        width: 165px;
    }
    th,
    tr {
        color: white;
        font-size: 10px;
        -webkit-transition: font-size .5s;
        transition: font-size .5s;
    }
}